@import url('https://unpkg.com/bulma@0.8.0/css/bulma.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('./helpers.css');
@import url('./animate.min.css');
@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&family=Concert+One&family=Fredoka+One&display=swap );



html, nav, body{
    font-family: 'Concert One', cursive;
    color: #FFF !important;
    background-color: #072540 !important;

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Concert One', cursive;
	font-weight: 100;
}
h1, .h1{
	font-size: 36px;
}

.title{
    color: #FFF !important;
}
strong{
    color: #ff8ae2 !important;
}
.justify-center{
    justify-content: center !important;
}
.navbar-item img {
    max-height: 5rem;
}
.navbar-item > .buttons > .button{
    background-color: #0069ff !important;
}
.navbar-item{
    color: #FFF; 
}
.banner-img{
    height: 300px;
}
.blue-button{
    color: #FFF;
    background-color: #0069ff;
    border: none;
}
.off-blue-button{
    color: #000;
    background-color: #93c2db;
    border: none;
}

/*banner slide

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .subheading{
    
    
    color: #ffa500;
    font-weight: bold;
    font-size: 50px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img img{
    width: 300px;
}
.how-img 
{
    text-align: center;
    float: right;
}*/

.tabs {
	width: 57%;
	float: left;
	padding-left:15px;
}
/* Tabs Navigations */

.nav-tabs {
	border: none;
}
.nav-tabs li a {
	font-size: 16px;
	color: #202E37;
	padding: 7px 14px;
	text-transform: uppercase;
	margin: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	/*background: #F7F8FA;
	border: 1px solid #29A9FF;*/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-tabs li.active a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	background: #ef83d4 !important;
	color: #fff !important;
	border-color: #ef83d4 !important;
}
/* Tabs panes */

.tab-pane {
	background: #fff;
	color: #67747A;
	font-size: 15px;
	font-weight: 300;
	padding: 20px 20px;
}
.tab-pane .tab-image {
	padding: 0 20px;
	margin-bottom: 20px;
}
.tab-pane .tab-image{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	 
}


.tab-pane .tab-description {
	padding: 20px 20px;
	text-align: center;
}
.tab-pane .only {
	width: 100%;
}
a.white-button{
	display: inline-block;
	margin: 0;
	padding: 10px 20px;
	border: 1px solid white;
	background: #fff;
	color:#ef83d4;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a.white-button:hover{
	background: none;
	color:#fff !important;
	
}
.content {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 90px 0px;
	position: relative;
	z-index: 2;
}
.main_title_a {
    color:#ff8ae2 !important;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	position: relative;
	margin: 0px 0 50px 0;
}
.main_title_a span{
   color: #ff8ae2 !important;
}
#services {
	background: #F5F5F5;
}
.toons {
	background-image: url("../images/toons.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	margin: 0;
	position: relative;
}
.push-top {
	margin-top: 50px;
}
.services-box > h4 a {
	color: #f063cd;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 500;
	margin: 15px 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.services-box .services-box-icon {
	background:#fff;
	border: 1px solid #29A9FF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #29A9FF;
	display: inline-block;
	/*float: right;*/
	height: 58px;
	left: 0;
	line-height: 60px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 60px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.services-box .services-box-icon:before {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	content: "";
	display: block;
	height: 50px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 52px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.services-box .services-box-icon i.fa {
	font-size: 20px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.services-box .feature-box-info {
	padding-left: 45px;
}
.feature-box-info li {
	color: #f0f2f3;
    font-weight: 300;
    font-size: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.feature-box-info a {
	color: #f0f2f3;
    font-weight: 300;
    font-size: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
hr.tall {
	background: none;
    border: 0 none;
    height: 1px;
    margin: 60px 15px;
    border-bottom: 1px dashed #CCCCCC;
    border-top: none;
}
.services-box:hover h4 a {

	color: #ff8ae2;
}
.services-box:hover .services-box-icon {
	border-color: #ff8ae2;
	color:#ff8ae2;

	color: #1bec83;
}
.services-box:hover .services-box-icon {
	border-color: #ef83d4;
	color:#ef83d4;

}
.services-box:hover .services-box-icon:before {
	
}
.services-box:hover .feature-box-info p {
	color: #ffffff;
}
hr.new{
	  border: 2px solid #ff8ae2; 
      border-radius: 3px;
}
  
* Contact Us */
hr.new{
	  border: 2px solid #ff8ae2; 
      border-radius: 3px;
}
  
#contact {
	background: #072540;
}
#contact-form .form-control {
	background-color: #fff;
	border: 1px solid #CCCBC9;
	padding-top: 11px;
	box-shadow: none;
	color: #2D728B;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
#contact-form .form-control:focus {
	box-shadow: none;
	background-color: #fff;
	border-color: #29A9FF;
	
}
#contact-form .col-md-6:first-child {
	padding-right: 5px;
}
#contact-form .col-md-6:nth-child(2n) {
	padding-left: 5px;
}
#contact-form textarea {
	margin-bottom: 20px;
}
#contact-form input.form-control {
	height: 40px;
	margin-bottom: 10px;
	padding-top: 7px;
}
#contact-form .form-control:-moz-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control::-moz-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control:-ms-input-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}
#contact-form .form-control::-webkit-input-placeholder {
    color: #67747A;
    font-size: 14px;
    font-weight: 300;
}

#contact-form .form-control:focus:-moz-placeholder {
    opacity: 0;
}
#contact-form .form-control:focus::-moz-placeholder {
    opacity: 0;
}
#contact-form.form-control:focus:-ms-input-placeholder {
    opacity: 0;
}
#contact-form .form-control:focus::-webkit-input-placeholder {
    opacity: 0;
}

#contact-form .btn {
	float: right;
	display: block;
	margin-left: 10px;
	font-size: 16px;
	background: #2D728B;
    color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	position: relative;
	border:none;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;  
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

#contact-form .btn:after{
  width: 0%;
  height: 0%;
  top: 0;
  right: 0;
  content: '';
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,.2);
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; 
    
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#contact-form .btn:before{
  width: 0%;
  height: 0%;
  bottom: 0;
  right: 0;
  content: '';
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,.2);
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; 
	
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#contact-form .btn:hover:after, #contact-form .btn:hover:before, #contact-form .btn:focus:after{
  width: 100%;
  height: 100%
}

#contact-form {
	margin-bottom: 20px;
}
#contact-form .alert {
	display: none;
	margin-top: 20px;
}
#contact-form label {
	color: #f44459;
	font-size: 10px;
}
address {
    margin-bottom: 30px;
}
address p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 5px;
}
address p .fa {
    color: #2D728B;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
	min-width: 15px;
}
.fa-add1{
   font-size: 24px;
}
.fa-add2{
   font-size: 17px;
}
.fa-add3{
   font-size: 15px;
}
address p i.fa-minus {
<<<<<<< HEAD
    color: #ff8ae2;
=======
    color: #ef83d4;
>>>>>>> 0e7fdad014dcb8cb36f5ea52c89891e08d532e39
    font-size: 12px;
}
.title1{
	margin: 0 0 20px 0;
    padding: 0;
    color: #2D728B;
    text-transform: uppercase;
    font-size: 28px;
}
.contact-social {
    text-align: left;
    margin-bottom: 30px;
}
.contact-social a {
	border: 1px solid #29A9FF;
	background:#fff;
	color: #29A9FF;
	-moz-box-shadow:0 0 1px 1px #fff inset,inset 0 0 7px 3px rgba(210,237,255,1);
	-webkit-box-shadow:0 0 1px 1px #fff inset,inset 0 0 7px 3px rgba(210,237,255,1);
	box-shadow:0 0 1px 1px #fff inset,inset 0 0 7px 3px rgba(210,237,255,1);	
    border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 15px 0 0;
    text-align: center;
    width: 50px;
    font-size: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.contact-social a:hover {
<<<<<<< HEAD
	border-color: #ff8ae2;
	color:#ff8ae2;
=======
	border-color: #ef83d4;
	color:#ef83d4;
>>>>>>> 0e7fdad014dcb8cb36f5ea52c89891e08d532e39
	-moz-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 0px rgba(242,208,199,1);
	-webkit-box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 0px rgba(242,208,199,1);
	box-shadow:0 0 1px 1px #fff inset,inset 0 0 10px 0px rgba(242,208,199,1);
}

/* Google Maps */

div.google-map {
    background: #E5E3DF;
    height: 400px;
    position: relative;
    width: 100%;
}
div.google-map:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
div.google-map:after {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}


/* Footer */

#footer {
	background:#2D3E48;
}
#footer:after {
    background:rgba(0, 0, 0, 0.2);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.footer {
	padding: 75px 0;
}
.align-left{
	text-align:left !important;
}
.footer a {
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.align-center{
    text-align:center;	
}

/* Go To Top */
#go-top {
	bottom: 40px;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 9999;
    margin: 0 auto;
}
#go-top a {
	background: rgba(0, 0, 0, 0.2);
    border: 1px dashed #5C717D;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    height: 100%;
    line-height: 37px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#go-top a .fa {
}
#go-top a:hover {
	background: rgba(0, 0, 0, 0.4);
}
.footer-logo{
	border: 1px dashed #5C717D;
	background:rgba(0, 0, 0, 0.2);
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
	
}

.footer-text {
	margin: 10px 0 0 0;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}

.copyright {
	text-transform: uppercase;
	margin: 35px 0 0 0;
}

.footer a:hover {
	color: white;
}
.footer a:hover i {
	color: white;
}
#features {
	background-attachment: fixed;
	background-image: url("../images/rev-slider/Banners/HF2020\ Events\ 1200x628\ Centered.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#features .content {
	padding-bottom: 20px;
}
.toons {
	background-image: url("../images/toons.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	margin: 0;
	position: relative;
}
.parallax {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}
